
<%= form_for @author do |f| %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name, :required => true %>
  </p>

  <p>
    <%= f.label :nationality %>
    <%= f.text_field :nationality, :required => true %>
  </p>

  <p>
    <%= f.label :dob %>
    <%= f.date_field :dob, :required => true %>
  </p>

  <p>
    <%= f.label :image %>
    <%= f.url_field :image, :required => true %>
  </p>

  <p>
    <%= f.label :alive %>
    <%#= f.select :alive, [["Yes", true]["No", false]], :required => true %>
  </p>

  <%= f.submit %>

<% end %>
