
<h2><%= @author.name%></h2>

<%= image_tag( @author.image, :class => 'feature') %>


<p>
  Name: <%= @author.name %>
</p>


<p>
  Country: <%= @author.country %>
</p>



<div class="controls">

  <%=  link_to "Edit Author", edit_author_path( @author ) %>

<%= link_to "Delete Author", @author, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
