<h1>This is our helpers demo</h1>

<%= link_to "Numbers", numbers_path %>
<%= link_to "Text", text_path %>
<%= link_to "Assets", assets_path %>
<%= link_to "URL", url_path %>
<%= link_to "Home", home_path %>
