<h2>This is our URL helpers demo</h2>
<%= link_to("Random", random_path) %>
<%= link_to("Single number path", single_number_path(@single_number)) %>
<%= link_to("Two numbers path", two_numbers_path( @x, @y )) %>

<!-- <a href="/random">
Random
</a>


<a href="/number/<%= @single_number %>">
Single number path
</a>

<a href="/number/<%= @x %>/<%= @y %>">
Two numbers path
</a> -->
