  <p>
    <%= f.label :name %>
    <%= f.text_field :name, :required => true %>
  </p>
  <p>
    <%= f.label :lat, "Latitude" %>
    <%= f.number_field :lat, :required => true %>
  </p>
  <p>
    <%= f.label :lng, "Longitude" %>
    <%= f.number_field :lng, :required => true %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_field :description, :required => true %>
  </p>
