<h1><b>Spots</b></h1>

<% @spots.each do |spot| %>

<p>Name: <%= link_to "#{spot.name}", region_spot_path(:region_id => @region.id, :id => spot.id) %></p>
<p>Latitude: <%= spot.lat %> | Longitude: <%= spot.lng %></p>
<p><%= spot.description %></p>

<% end %>

<%= link_to "New spot", new_region_spot_path(:region_id => @region.id) %>
