<h2>This should show one spot</h2>
<%= link_to "Edit spot", edit_region_spot_path %>
<%= link_to "Delete spot", region_spot_path, :method => :delete, :data => { :confirm => "Are you sure?" } %>

<p><%= @spot.name %></p>
<p><%= @spot.lat %> | <%= @spot.lng %></p>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<p><%= @spot.description %></p>

<%= render :partial => 'disqus' %>


<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {
}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
