<h2><b>Related Spots</b></h2><%= link_to "New spot", new_region_spot_path(:region_id => @region.id) %>

<% @spots.each do |spot| %>

<p>Name: <%= link_to spot.name, region_spot_path(:region_id => @region.id, :id => spot.id) %></p>
<p>Lat/Lng: <%= spot.lat %> | <%= spot.lng %></p>
<p><%= spot.description %></p>

<% end %>
