<%= link_to "Back to the region", region_path(@spot.region) %>
<% if @current_user && @current_user.admin == true %>
  <%= link_to "Edit spot", edit_region_spot_path %> |
  <%= link_to "Delete spot", region_spot_path, :method => :delete, :data => { :confirm => "Are you sure?" } %>
<% end %>

<h1><b><%= @spot.name %></b></h1>
<p>Lat/Lng: <%= @spot.lat %> | <%= @spot.lng %></p>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<p><%= @spot.description %></p>

<%= render :partial => 'disqus' %>

<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {
}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
