<!-- # t.text :name
# t.text :email
# t.text :password_digest
# t.integer :fitness_australia_id
# t.boolean :approved_status, :default => "false"
# t.text :qualifications
# t.text :training_specialty_areas
# t.text :training_style
# t.inet :current_location
# t.text :preferred_location
# t.integer :price
# t.integer :rating
# t.text :image -->

<h1><%= @trainer.name %></h1>

<%= image_tag @trainer.image, :class => 'feature' %>

<ul>
  <li>Email: <%= @trainer.email %></li>
  <li>Fitness Australia ID: <%= @trainer.fitness_australia_id %></li>
  <li>Qualifications: <%= @trainer.qualifications %></li>
  <li>Training Specialty Areas: <%= @trainer.training_specialty_areas %></li>
  <li>Training Style: <%= @trainer.training_style %></li>
  <li>Price per Hour: <%= @trainer.price %></li>
  <li>Rating: <%= @trainer.rating %>/5</li>
</ul>

<div>
  <%= link_to "Edit #{@trainer.name}", edit_trainer_path %>
  <%= link_to "Delete #{@trainer.name}", trainer_path, :method => :delete, :data => { :confirm => "Are you sure?" } %>
</div>
