<h1><%= @chan["title"] %> </h1>
<p>"<img src="<%= @chan["image"] %>"/>"</p>
<p>"<%= @chan["content"] %>""</p>

<a href="/chan/<%= @chan["id"] %>/delete">Kill Chan</a> | <a href="/chan/<%= @chan["id"] %>/edit">Change Chan</a>
