<% @all_mountains.reverse_each do |mountain| %>
  <h4>
    <p><%= mountain["name"] %> - Official Elevation - <%= mountain["elevation"] %>m </p>
  </h4>

  <p>
    <a href="/mountains/<%= mountain["id"] %>">
      <img class="responsive-img z-depth-5" src="<%= mountain["image"] %>" alt="">
    </a>
  </p>

  <p class="childContainer">
    <%= mountain["location"] %>
  </p>

<% end %>
