<hr>

<div>
  <div><img src="<%= @movie_img%>" alt="" /></div>
  <div>
    Title: <%= @movie_title %><br><br>
    Year: <%= @movie_year %><br><br>
    Genre: <%= @movie_Genre %><br><br>
    Runtime: <%= @movie_time %><br><br>
    Director: <%= @movie_Director %><br><br>
    Actors: <%= @movie_Actors %><br><br>
    Plot: <%= @movie_Plot %><br><br>
    Country: <%= @movie_Country %><br><br>
    Poster: <%= @movie_title %><br><br>

  </div>
</div>
<hr>
