<h1>All users: TOP SECRET</h1>

<% @users.each do |user| %>

<p>Name: <%= user.name %></p>
<p>Email: <%= user.email %></p>
<p>Password: <%= user.password %></p>
<p><%= user.email %> created account at <%= user.created_at %></p>
<%= link_to "Edit user", edit_user_path(user.id) %>
<%= link_to "Delete user", users_path, :method => :delete, :data => { :confirm => "Are you sure?" } %>
<hr>
<% end %>
