<!DOCTYPE html>
<html>
<head>
  <title>Tick It</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <% if @current_user %>
      <%= link_to "Home", root_path %>
      <%= link_to "Profile", "/users/#{@current_user.id}" %>
      <%= link_to "Projects", projects_path %>
      <%= link_to "New Project", new_project_path %>
    <% else %>
      <%= link_to "Home", root_path %>
      <%= link_to "Login", login_path %>
      <%= link_to "Sign Up", new_user_path %>
    <% end %>
  </nav>

  <% if @current_user %>
    Currently logged in as: <%= @current_user.username %> (<%= link_to "logout", logout_path, :method => :delete %>)
  <% end %>
<%= yield %>

</body>
</html>
