<!DOCTYPE html>
<html>
<head>
  <title>Tick It</title>
  <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="top_nav_bar">
      <div class="title_img"><img src="http://i.imgur.com/3CSqyT5.png"> </div>
      <div class="title">Tick It
        <% if !@current_user %>
          <span><i>"Your TICKET to success"</i> -Small Jess</span>
        <% else %>
          <span>Currently logged in as: <%= @current_user.username %> (<%= link_to "logout", logout_path, :method => :delete %>)</span>
        <% end %>
      </div>
      <div class="nav_list">
        <nav>
          <ul>
            <% if @current_user %>
              <li><a href="<%= "/users/#{@current_user.id}" %>" class="nav_butt">Profile</a></li>
              <li><a href="<%= projects_path %>" class="nav_butt">Projects</a></li>
              <li><a href="<%= new_project_path %>" class="nav_butt">New Project</a></li>

            <% else %>
              <li><a href= "<%= login_path %>" class="nav_butt">Login</a></li>
              <li><a href="<%= new_user_path %>" class="nav_butt">Sign Up</a></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </header>

<%= yield %>

</body>
</html>
