<h2>Find a Trainer perfectly suited to you</h2>

<%= form_tag do %>
<h3>Choose Your Training Interest Style (Select One)</h3>
<p>
  <% @unique_areas.each do |area| %>
    <p>
      <%= label_tag "Training Interest Areas", area %>
      <%= check_box_tag :training_specialty_areas, area %>
    </p>
  <% end %>
</p>
<h3>Choose Your Preferred Training Style (Select One)</h3>
  <p>
    <% @unique_styles.each do |style| %>
      <p>
        <%= label_tag "Preferred Training Style", style %>
        <%= check_box_tag :training_style, style %>
      </p>
    <% end %>
  </p>

  <h3>Where would you like to train near?</h3>
    <p><%= text_field_tag :search  %></p>

  <%= submit_tag "Find a Trainer" %>
<% end %>
