<h2>Logiskjsdkn</h2>


<%= form_for @trainer do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, :required => true %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.email_field :email, :required => true %>
  </p>
<% end %>
