<%= form_for @director do |f| %>
<p>
  <%= f.label :name %>
  <%= f.text_field :name, :required => true %>
</p>
<p>
  <%= f.label :nationality %>
  <%= f.text_field :nationality, :required => true %>
</p>
<p>
  <%= f.label :dob, "Date of birth" %>
  <%= f.text_field :dob, :required => true %>
</p>
<p>
  <%= f.label :image %>
  <%= f.url_field :image, :required => true %>
</p>

  <%= f.submit %>
<% end %>
