
<h2><%= @director.name %></h2>

<%= image_tag @director.image, :class => "featured" %>


<p>Nationality: <%= @director.nationality %></p>
<p>Date of birth: <%= @director.dob.strftime( "%A, %B %e, %Y" ) if @director.dob %></p>


<h3>Works:</h3>

<% @director.movies.each do |movie| %>
  <%= link_to( image_tag(movie.poster, :class => 'thumbnail'), movie ) %>
<% end %>

<div class="edit">
<p>
<%= link_to "Edit #{@director.name}", "/directors/#{@director.id}/edit" %>
</p>
<p>
<%= link_to "Delete #{@director.name}", "/directors/#{@director.id}/delete", :method => :delete, :data => { :confirm => "Really?" } %>
</p>
</div>
