<% if @user.errors.any? %>
  <ol>
    <% @user.errors.full_messages do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ol>
<% end %>

<%= form_for @user do |f| %>
  <p>
    <%= f.label :email %>
    <%= f.email_field :email, :required => true %>
  </p>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name, :required => true %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password, :required => true %>
  </p>

  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :required => true %>
  </p>

  <%= f.submit "Create account" %>
<% end %>
