<h3><%= @trainer.name %></h3>
<%= image_tag @trainer.image, :class => "feature" %>
  <ul>
    <li>Qualification: <%= @trainer.qualification %></li>
    <li>Fitness Australia ID: <%= @trainer.fitness_australia_id %></li>
    <li>Speciality: <%= @trainer.speciality %> </li>
    <li>Location: <%= @trainer.location %></li>
  </ul>

  <h3>All Clients:</h3>

  <% @trainer.clients.each do |c| %>
    <h4><%= link_to c.name, c %></h4>
    <p><%= link_to( image_tag(c.image, :class => "thumbnail"), c ) %></p>
    <hr>
  <% end %>

<%= link_to( "Show All Trainers", "/trainers") %>
<%= link_to( "Edit #{@trainer.name}", edit_trainer_path( @trainer ) )%>
<%= link_to( "Delete #{@trainer.name}", @trainer, :method => :delete, :data => {  :confirm => "Are you sure?" } ) %>
