<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>


<%= form_for @user do |f| %>
    <p>
        <%= f.label :email %>
        <%= f.email_field :email %>
    </p>

    <p>
        <%= f.label :image %>
        <%= f.text_field :image %>
    </p>

    <%= f.submit "Update user" %>

<% end %>
