
<% @movies.each do |movie| %>
<p><a href="/movies/<%= movie[:id] %>"><%= movie.title %></a></p>
<p><a href="/movies/<%= movie[:id] %>"><img src="<%= movie.poster %>" class="index"></a></p>
<%="#{movie.year} / #{movie.genre}"%>
<hr>
<% end  %>
<a href="/movies/new">
<h3>New Movie</h3>
</a>
