
<h2>"<%= @movie.title %>"</h2>

<%= image_tag @movie.poster, :class => "featured" %>


<p>Year: <%= @movie.year %></p>
<p>Genre: <%= @movie.genre %></p>
<p>Running time: <%= @movie.running_time %></p>
<p>Decription: <%= @movie.description %></p>


<p>Director: </p><%= link_to @movie.director.name, @movie.director %>

<div class="edit">
<p>
<%= link_to"Edit #{@movie.title}", "/movies/#{@movie.id}/edit" %>
</p>
<p>
<%= link_to "Delete movie", @movie, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
</p>
</div>
