<%= form_for @car do |f| %>
  <p>
    <%= f.label :model %>
    <%= f.text_field :model, :required => true %>
  </p>
  <p>
    <%= f.label :year %>
    <%= f.text_field :year, :required => true %>
  </p>
  <p>
    <%= f.label :image %>
    <%= f.url_field :image, :required => true %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_field :description, :required => true %>
  </p>
  <p>
    <%= f.label :make_id %>
    <%= f.select :make_id, Make.all.map {|a| [a.name, a.id]}, :include_blank => true %>
  </p>
  <p>
    <%= f.submit %>
  </p>



<% end %>
