<h1>Helpers demo</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to("Numbers", numbers_path) %>
<%= link_to("Text", text_path) %>
<%= link_to("Assets", assets_path) %>
<%= link_to("URL", url_path) %>
<%= link_to("Root", root_path) %>
<%= link_to("Home", home_path) %>
