<h3>Create a new magazine</h3>

<%= form_for @magazine do | f | %>
<p>
  <%= f.label :name %>
  <%= f.text_field :name, :required => true %>
</p>

<p>
  <%= f.label :image %>
  <%= f.url_field :image, :required => true %>
</p>

<%= f.submit %>
<% end %>
