<%= form_for @make do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, :required => true %>
  </p>
  <p>
    <%= f.label :country %>
    <%= f.text_field :country, :required => true %>
  </p>
  <p>
    <%= f.label :founded %>
    <%= f.text_field :founded, :required => true %>
  </p>
  <p>
    <%= f.label :image %>
    <%= f.url_field :image, :required => true %>
  </p>
  <p>
    <%= f.submit %>
  </p>





<% end %>
