<ul>
    <li> <%= @animal["species"] %> </li>
    <li> <%= @animal["image"] %> </li>
    <li> <%= @animal["description"] %> </li>
    <li> <a href="/animal/<%= @animal["id"] %>/delete"> delete </a> </li>
    <li> <a href="/animal/<%= @animal["id"] %>/edit"> edit </a> </li>
</ul>
