<div class="content">
<p id="notice"><%= notice %></p>

<h1>Listing Shopping Lists</h1>

<table cellpadding="6">
  <thead>
    <tr>
      <th>Users</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shopping_lists.each do |shopping_list| %>
      <tr>
        <td><%= shopping_list.user_id %></td>
        <td><%= link_to 'Show', shopping_list %></td>
        <td><%= link_to 'Edit', edit_shopping_list_path(shopping_list) %></td>
        <td><%= link_to 'Destroy', shopping_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p class="plus"><span>+</span> <%= link_to 'New Shopping list', new_shopping_list_path %></p>
</div>
