<h1>New Article</h1>


<%= form_for :people do |f| %>
<p>
  <%= f.label :name %> <br>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :location%><br>
  <%= f.text_area :location %>
</p>

<p>
  <%= f.submit %>
</p>


<% end %>
