<h1>Hello!  Create  new entity</h1>



<%= form_for @entity do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :ACN %>
    <%= f.text_field :ACN %>
  </p>

  <p>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </p>

  <p>
    <%= f.label :contact_name%>
    <%= f.text_field :contact %>
  </p>

  <p>
    <%= f.label :contact_number%>
    <%= f.text_field :contact_number %>
  </p>

  <p>
    <%= f.label :contact_email%>
    <%= f.text_field :contact_email %>
  </p>


<h2>Add agreement</h2>





<%= f.submit "Really new entity" %>


<% end %>
