<%= form_for @client do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, :required => true %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.email_field :email, :required => true %>
  </p>

  <p>
    <%= f.label :preferred_training_style, "Training Style" %>
    <%= f.select(:preferred_training_style, options_for_select([["Drill Sergeant"],["Encourager"],["Holistic"],["Relaxed"]], (@current_user.preferred_training_style if @current_user.is_a?(Client)))) %>
  </p>
  <p>
    <%= f.label :training_interest_areas, "Training Specialty Area" %>
      <%= f.select(:training_interest_areas, options_for_select([["Body Building"],["Nutrition"],["Weight Loss"],["Pilates"],["Boxing"],["Cardio"],["Crossfit"],["Yoga"],["Martial Arts"],["Toning"],["Calisthenics"],["Tabata"],["Body Transformation"]], (@current_user.training_interest_areas if @current_user.is_a?(Client)))) %>
  </p>



  <p>
    <%= f.label :preferred_location, "Location" %>
    <%= f.text_field :preferred_location, :required => true %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password, :required => true %>
  </p>
  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :required => true %>
  </p>
  <p>
    <%= f.label :image, "Profile Image " %>
    <%= f.text_field :image, :required => true %>
  </p>

  <%= f.submit %>
<% end %>

<!-- t.text :name
t.text :email
t.text :password_digest
t.text :training_interest_areas
t.text :preferred_training_style
t.inet :current_location
t.text :preferred_location
t.boolean :admin, :default => "false"
t.text :image -->
