<h1><%= @client.name %></h1>

<%= image_tag @client.image, :class => 'feature' %>

<ul>
  <li>Email: <%= @client.email %></li>
  <li>Training Interest Areas: <%= @client.training_interest_areas if @client.training_interest_areas %></li>
  <li>Preferred Training Style: <%= @client.preferred_training_style if @client.preferred_training_style %></li>
  <li>Preferred Training Location: <%= @client.preferred_location if @client.preferred_location %></li>
  <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=13&size=600x300&maptype=roadmap%20&markers=#{@client.latitude},#{@client.longitude}" %>
</ul>

<% if @current_user.is_a?(Client) %>
  <div>
    <%= link_to "Edit #{@client.name}", edit_client_path %>
    <%= link_to "Delete #{@client.name}", client_path, :method => :delete, :data => { :confirm => "Are you sure?" } %>
  </div>
  <% end %>

<!-- t.text :name
t.text :email
t.text :password_digest
t.text :training_interest_areas
t.text :preferred_training_style
t.inet :current_location
t.text :preferred_location
t.boolean :admin, :default => "false"
t.text :image -->
