

<hr>

<h1><%= @title_of_first_result %></h1>


<img src="<%= @poster_of_first_result %>" alt="" style="width:300px">

<!-- Print out the value of the instance variable result -->
<!-- <h3>The result is: <%= @result %></h3> -->


<h2><%= @first_result %></h2>

<h2><%= @poster_of_first_result %></h2>




<!-- <p> <%= @search_title_result %> </p> -->



<!-- Add a link so we can calculate other things -->
<a href="/home">Search something else!</a>

<hr>
