<%= form_for @review do |f| %>

<p>
  <%= f.label :rating %>
  <%= f.number_field :rating, :required => true %>
</p>
<p>
  <%= f.label :content %>
  <%= f.text_field :content, :required => true %>
</p>

<%= f.submit "create review" %>
<% end %>
