<h1>This should show one region</h1>

<p><%= @region.name %></p>
<p><%= @region.address %></p>
<p><%= @region.description %></p>

<%= render :partial => 'new_review' %>
<%= render :partial => 'review' %>
