<% @reviews.each do |review| %>
<p><%= review.rating %></p>
<p><%= review.content %></p>
<p><%= review.region_id %></p>
<p><%= image_tag(review.avatar) %></p>

<%= link_to "Edit", edit_review_path(review) %>
<%= link_to "Delete", review_path(review), :method => :delete, :data => { :confirm => "Are you sure?" } %>
<% end %>
