<% @reviews.each do |review| %>
<p>Rating: <%= review.rating.round(0) %></p>
<p><%= review.content %></p>
<td><img src = <%= review.link %> alt="" /></td>

<%= link_to "Edit", edit_review_path(review) %>
<%= link_to "Delete", review_path(review), :method => :delete, :data => { :confirm => "Are you sure?" } %>
<hr>
<% end %>
