<%= form_for @review do |f| %>

<p>
  <%= f.label :rating %>
  <%= f.number_field :rating, :required => true %>
</p>
<p>
  <%= f.label :content %>
  <%= f.text_field :content, :required => true %>
</p>
<p>
  <%= f.label :avatar, "Image" %>
  <%= f.file_field :avatar, multiple: true %>
</p>

<%= f.hidden_field :region_id, :value => @region.id %>
<% if @current_user %>
<%= f.hidden_field :user_id, :value => @current_user.id %>

<% end %>

<%= f.submit "create review" %>
<% end %>
