<%= form_for @review, :html => { :multipart => true } do |f| %>

<p>
  <%= f.label :rating %>
  <%= f.number_field :rating, :required => true %>
</p>
<p>
  <%= f.label :content %>
  <%= f.text_field :content, :required => true %>
</p>
<p>
  <%= f.label :link, "Image" %>
  <%= cl_image_upload_tag :link %>
</p>

<%= f.submit "Update review" %>
<% end %>

<%= link_to "Back", region_path(@review.region) %>
