<img src="<%= @review.link %>" alt="" class="review-show" />
<a href="/regions/<%= @review.region.id %>">
  <p>
    <%= @review.region.name %>
  </p>
</a>

<p>
  Reviewer: <%= link_to "#{@review.user.name}", @review.user %>
</p>
<p>
  <%= @review.content %>
</p>
